.vscode
*/.vscode

*/node_modules


# Ignore the folder frontend_old
frontend_old/

# Excluding everything from the services/web_scraping folder that is not a .py file
services/web_scraping/*
!services/web_scraping/*.py