/* Tailwind CSS */
@import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css');

/* Custom styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dark-mode {
    background-color: #1a202c; /* Dark mode background */
    color: #cbd5e0; /* Text color */
}

.dark-mode .bg-gray-100 {
    background-color: #2d3748; /* Dark mode override for light background */
}

.dark-mode .bg-white {
    background-color: #2d3748; /* Dark mode override for light background */
}

.dark-mode .text-gray-900 {
    color: #cbd5e0; /* Text color override for dark mode */
}

.dark-mode .text-gray-100 {
    color: #2d3748; /* Text color override for dark mode */
}


.dark-mode .dot {
    background-color: #cbd5e0; /* Dot color in dark mode */
}
